<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  {% include "seo.html" %}

  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="case-study">
  <header>
    <h1>{{title}}</h1>
  </header>

  <main>
    {{ content }}

    {% render "components/contact-form.html" %}

    <section id="bottom">
      <div class="inner-section">
        <a class="back-link" href="{{site.rootPath}}">Back to homepage</a>
      </div>
    </section>
  </main>

  {% render "components/footer.html" %}
</body>

</html>